<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbProvider" value="MySql.Data.MySqlClient" />
    <add key="conexaoUtilizada" value="ConexaoMySQL"/>
  </appSettings>

  <connectionStrings>
    <add name="ConexaoMySQL" connectionString="server=localhost; user id=root; password=1234; database=solicita" />
  </connectionStrings>
</configuration>