<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    <appSettings>
      <add key="dbProvider" value="MySql.Data.MySqlClient"/>
      <add key="conexaoUtilizada" value="ConexaoMySQL"/>
      <add key="SecurityKey" value="FATEC"/>
      <add key="MailSender" value="solicitaweb@outlook.com"/>
      <add key="PwdSender" value="Fatec2017!"/>
      <add key="FolderDefault" value="C:\SolicitaFiles" />
      <add key="FolderMails" value="C:\SolicitaFiles\XML - Mails" />
      <add key="FolderTemplate" value="C:\SolicitaFiles\Templates" />
      <add key="NovoTemplate" value="C:\SolicitaFiles\Templates\NovoRequerimento.html" />
      <add key="TransferidoTemplate" value="C:\SolicitaFiles\Templates\TransferidoRequerimento.html" />
      <add key="CanceladoTemplate" value="C:\SolicitaFiles\Templates\CanceladoRequerimento.html" />
      <add key="IndeferidoTemplate" value="C:\SolicitaFiles\Templates\IndeferidoRequerimento.html" />
      <add key="ConcluidoTemplate" value="C:\SolicitaFiles\Templates\ConcluidoRequerimento.html" />
    </appSettings>

    <connectionStrings>
      <add name="ConexaoMySQL" connectionString="server=localhost; user id=root; password=root; database=solicita"/>
    </connectionStrings>
</configuration>
