<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Solicita.TG.UI.View-20160527145410;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Solicita.TG.UI.View-20160527145410.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICursoService" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IDisciplinaService" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IFuncionarioAcademicoService"
          maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IProfessorService" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IProcessadorDeArquivoService"
          maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IRequerimentoService" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IAcessoService" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IAlunoService" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IRequerimentoService1" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IAcessoService1" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IAlunoService1" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IProcessadorDeArquivoService1"
          maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IProfessorService1" maxReceivedMessageSize="100000000" />
        <binding name="BasicHttpBinding_IFuncionarioAcademicoService1" />
        <binding name="BasicHttpBinding_IDisciplinaService1" />
        <binding name="BasicHttpBinding_IDashboardService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Aluno/AlunoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlunoService"
        contract="AlunoService.IAlunoService" name="BasicHttpBinding_IAlunoService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os.ProcessadorDeExcel/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessadorDeArquivoService1"
        contract="ProcessadorDeArquivoService.IProcessadorDeArquivoService"
        name="BasicHttpBinding_IProcessadorDeArquivoService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Professor/ProfessorService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfessorService"
        contract="ProfessorService.IProfessorService" name="BasicHttpBinding_IProfessorService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os.cursoService/CursoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICursoService"
        contract="CursoService.ICursoService" name="BasicHttpBinding_ICursoService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os.Requerimentos/RequerimentoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequerimentoService"
        contract="RequerimentoService.IRequerimentoService" name="BasicHttpBinding_IRequerimentoService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Dashboard/DashboardService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDashboardService"
        contract="DashboardService.IDashboardService" name="BasicHttpBinding_IDashboardService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Acesso/AcessoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAcessoService"
        contract="AcessoService.IAcessoService" name="BasicHttpBinding_IAcessoService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/DisciplinaService/DisciplinaService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDisciplinaService"
        contract="DisciplinaService.IDisciplinaService" name="BasicHttpBinding_IDisciplinaService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solicita.TG.Servi%C3%A7os/Funcionario/FuncionarioAcademicoService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFuncionarioAcademicoService"
        contract="FuncionarioAcademicoService.IFuncionarioAcademicoService"
        name="BasicHttpBinding_IFuncionarioAcademicoService" />
    </client>
  </system.serviceModel>
</configuration>